<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

<script src="{{url_for('static', filename='form_handler.js')}}"></script>

<html>
    <head>
        <title>LinkedIn Summary MadLibs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>LinkedIn Summary Generator</h1>
        <h3>Fill in the blanks below and click "generate summary".</h3>
        <form id ="wordentry" class = "summary-form">
            <p>Noun <input type = "text" name = "noun1" maxlength="30" /></p>
            <p>Adjective <input type = "text" name = "adj1" maxlength="30" /></p>
            <p>Adjective <input type = "text" name = "adj2" maxlength="30" /></p>
            <p>Adjective <input type = "text" name = "adj3" maxlength="30" /></p>
            <p>Verb <input type = "text" name = "verb1" maxlength="30" /></p>
            <p>Verb <input type = "text" name = "verb2" maxlength="30" /></p>
            <p>Verb <input type = "text" name = "verb3" maxlength="30" /></p>
            <p>Verb <input type = "text" name = "verb4" maxlength="30" /></p>
            <p>Plural Noun <input type = "text" name = "plnoun1" maxlength="30" /></p>
            <p>Plural Noun <input type = "text" name = "plnoun2" maxlength="30" /></p>
            <p>Plural Noun <input type = "text" name = "plnoun3" maxlength="30" /></p>
        </form>
        <div class = "error" id = "error"></div>
        <div class = "summary-result">
            <span id=result>[SUMMARY WILL APPEAR HERE]</span>
        </div>
        <div class = "submit" id = "submit">
            <button type ='submit' id='summary'>Generate Summary</button>
        </div>


    </body>
</html>
