<html>
    <head>
        <title>Generate a LinkedIn Summary HERE</title>
    </head>
    <body>
        <form action = "http://localhost:5000/result" method = "POST">
            <p>Noun <input type = "text" name = "noun1" /></p>
            <p>Adjective <input type = "text" name = "adj1" /></p>
            <p>Adjective <input type = "text" name = "adj2" /></p>
            <p>Adjective <input type = "text" name = "adj3" /></p>
            <p>Verb <input type = "text" name = "verb1" /></p>
            <p>Verb <input type = "text" name = "verb2" /></p>
            <p>Verb <input type = "text" name = "verb3" /></p>
            <p>Verb <input type = "text" name = "verb4" /></p>
            <p>Plural Noun <input type = "text" name = "plnoun1" /></p>
            <p>Plural Noun <input type = "text" name = "plnoun2" /></p>
            <p>Plural Noun <input type = "text" name = "plnoun3" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>
    </body>
</html>